*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #080f20;
    color: #00FFFF;
    display: grid;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
h1{
    font-family: dosis;
    text-align: center;
    margin-top: 1vh;
    font-size: 3rem;
}
.container{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 50vh;
    width: 50vw;
    border: 1px solid #323952;
    font-family: dosis;
    justify-self: center;
    font-size: larger;
    padding-top: 1.5vh;
    border-radius: 20px;
    background-color: rgba(255, 0, 255, 0.1);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
input{
    margin: 1vh;
    padding: 1vh;
    border-radius: 10px;
    height: fit-content;
    border: none;
    background-color: #323952;
    color: #00FFFF;
    border-radius: 20px;
    width: min(20rem,40vw);
}
.email{
    margin-left: 1.5vh;
}
#password input{
    width: auto;
}
form{
    font: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form button,.signup button{ 
    margin-top: 3vh;
    margin-left: 1vw;
    cursor: pointer;
    padding: 1vh;
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
    width: 10rem;
    background-color: #00ffff;
    font-family: dosis;
    font-weight: bold;
    transition: all 0.5s;
    transition-timing-function: linear;
}
hr{
    margin-top: 2vh;
    border: 1px solid #323952;
    width: 50vw;
}
.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    font-family: dosis;
}
.universe{
    height: 30vh;
    width: 30vh;
}
.saturn{
    position: relative;
    height: 45vh;
    width: 45vh;
    margin-right: 20vw;
    bottom: 15vh;
    left: 10vw;

}
.images{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
form button:hover,.signup button:hover{
    box-shadow: 0 0 10px 5px #b6bdbd;

}
@media screen and (max-width: 900px) {
    body{
        overflow-y: scroll;
    }
    h1{
        font-size:3rem;
    }
    .container{
        width: 60vw;
        height: 60vh;
        margin-top: 0;
    }
    .saturn{
        height: 20vh;
        width: 20vh;
    }
    .universe{
        height: 0vh;
        width: 0vh;
        /* position: absolu; */
    }
    .container{
        margin-top: 5vh;
        width: 90vw;
    }
    .pass{
        margin-left: 1.5vw;
    }
    #password input{
        width: 50vw;
    } 
    .credentials{
        width: 50vw;
        justify-content: center;
        align-content: center;
    }
}